p {
  font-size: 6rem;
  margin: auto;
  font-family: "Rubik Bubbles", sans-serif;
  text-transform: uppercase;
  color: rgb(187, 194, 255);
  -webkit-text-stroke: 2px #9662ff;
  text-stroke: 2px #237bff;
  text-shadow: 1px 1px 5px #16468e;
  position: relative;
  line-height: 100%;
}
.bubble {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-image: radial-gradient(
    40% 40% at 75% 25%,
    rgba(255, 255, 255, 2),
    transparent
  );
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  box-sizing: border-box;
  position: absolute;
  index: -1;
  top: 0;
  opacity: 0;
  animation: floatUp 5s forwards;
}
@keyframes floatUp {
  25% {
    opacity: 0.75;
  }
  100% {
    top: var(--top);
    opacity: 0;
  }
}

body {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(#8fd2ff, #bf9dff);
}
.container {
  width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 960px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding-left: 13px;
    padding-right: 12px;
  }
}
.gallery {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: normal;
  color: #000;
}

.gallery::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gallery__title-wrapper {
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 1;
}
.gallery__title {
  position: absolute;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.66px;
  text-transform: uppercase;
  color: #fff;
}
.gallery__text {
  position: absolute;
  z-index: 1;
  bottom: 60px;
  max-width: 443px;
  line-height: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
  color: #fff;
}
.gallery__controls-wrapper {
  display: flex;
  justify-content: space-between;
}
.gallery__control-next,
.gallery__control-prev {
  position: relative;
  border: none;
  background: url("/ic_L_gallery.png") left no-repeat;
  z-index: 1;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.gallery__control-next {
  transform: rotate(180deg);
}
.gallery__control-next:hover,
.gallery__control-prev:hover {
  opacity: 0.5;
}
.gallery__slides {
  position: relative;
  max-width: 738px;
  height: 1143px;
}
.gallery__slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.gallery__slide_active {
  opacity: 1;
}
.gallery__box {
  height: 100%;
}
.box__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 961px) {
  .gallery {
    max-height: 536px;
  }
  .gallery__title {
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    text-transform: uppercase;
  }
  .gallery__controls-wrapper {
    position: absolute;
    bottom: 30%;
  }
  .gallery__text {
    bottom: 80px;
    font-size: 25px;
    max-width: 377px;
    letter-spacing: -0.75px;
  }
}
@media (max-width: 576px) {
  .gallery {
    max-height: 408px;
  }
  .gallery__slide {
    width: 50% 50%;
  }
  .gallery__title {
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.42px;
    text-transform: uppercase;
  }
  .gallery__controls-wrapper {
    padding: 0;
    position: absolute;
    width: calc(100% - 25px);
    bottom: calc(50% - 16px);
  }
  .gallery__controls {
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  .gallery__control-next,
  .gallery__control-prev {
    width: 30px;
    height: 30px;
  }
  .gallery__text {
    bottom: 60px;
    max-width: 287px;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.57px;
  }
}
